@charset "utf-8";
@import url("../webfonts/brushscriptstd/stylesheet.css");
@import url("../webfonts/arialround/stylesheet.css");



#footer_info {
	position: absolute;
	width: 600px;
	height: 100px;
	z-index: 2;
	text-align: right;
	right: 1%;
	padding-top: 20px;
	padding-bottom: 50px;
}


#kopf_info a:link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
}
#footer_info a:link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

#kopf_info a:visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
}
#footer_info a:visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
}

#kopf_info a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #BA903A;
	text-transform: uppercase;
	text-decoration: none;
}
#footer_info a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #BA903A;
	text-transform: uppercase;
	text-decoration: none;
}

#kopf_info a:active {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
}
#footer_info a:active {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
}
.bgimage {
    background-image: url(../images/images-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 257px;
    background-position: center center;
    padding-top: 60px;
}

.kopf {
    text-align: center;
    margin-top: 0px;
}
.bgimage h1 {
    font-family: brushscriptstd;
    font-weight: lighter;
    font-size: 9em;
    line-height: 80px;
    padding-top: 50px;
    margin-top: -30px;
}
.bgimage h2 {
    font-family: arialround;
    font-weight: bold;
    font-size: 4em;
    line-height: 0px;
    padding-top: 10px;
    color: #000000;
    margin-top: 10px;
}
.bgimage h3 {
    font-family: arialround;
    font-size: 2.5em;
    padding-top: 10px;
    margin-top: 10px;
}
h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
.schrift_h1_rot {
	color: #FF0000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #666666;
	font-size: 1.5em;
	font-weight: bold;
}
.container .row .col-lg-3.col-md-4 {
	margin-bottom: 50px;
}
#karte {
	width: auto;
	height: auto;
	max-height: 379px;
	min-height: 379px;
}










@media (max-width: 767px){
.bgimage h1 {
	font-family: brushscriptstd;
	font-weight: lighter;
	font-size: 7em;
	line-height: 80px;
	padding-top: 50px;
}
.bgimage h2 {
	font-family: arialround;
	font-weight: bold;
	font-size: 3em;
	padding-top: 10px;
}
.bgimage h3 {
	font-family: arialround;
	font-size: 2em;
	padding-top: 10px;
}
.kopf img {
    width: 70%;
    height: 0%;
}





}

@media (max-width: 768px){

}
.schrift {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	line-height: 140%;
	font-variant: normal;
	font-style: normal;
}
.nav.navbar-nav li .angebot {
	color: #FF0004;
}

.container .row.inhalt a:link {
	color: #666666;
	text-decoration: none;
	text-transform: uppercase;
}



.container .row.inhalt h2 {
	color: #666666;
	font-size: 1em;
	font-weight: bold;
}


.schrift_normal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	line-height: 1.2em;
	font-variant: normal;
	font-style: normal;
}.container .row .col-lg-9.col-md-8 {
	margin-bottom: 50px;
}

@media (max-width: 372px){
.bgimage h1 {
	font-size: 5em;
}
.bgimage h2 {
	font-size: 2em;
}
.bgimage h3 {
	font-size: 1.5em;

}
.preisliste {
	font-size: 12px;
}
.kopf img {
    width: 90%;



}

.header-container {
  position: relative;   /* REFERANS */
}

.social-icons {
  position: absolute;
  top: 15px;
  right: 15px;          /* container’ın sağı */
  z-index: 1000;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .navbar-header {
    position: relative;
  }

  .navbar-toggle {
    position: absolute !important;
    left: 10px !important;
    right: auto !important;
    top: 8px;
    float: none !important;
  }
}






}
